<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Plasystem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="Admin Dashboard" name="description" />
  <meta content="ThemeDesign" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/static/css/icons.css" rel="stylesheet" type="text/css">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  <link href="/static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css">
  {% block extra_css %}{% endblock %}
</head>
<body class="fixed-left">

  <!-- Begin page -->
  <div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">
      <!-- LOGO -->
      <div class="topbar-left">
        <div class="text-center">
          <a href="index.html" class="logo"><img src="/static/nuevo/logoveco.png" alt=""></a>
          <!--<a href="index.html" class="logo"><img src="/static/images/logo_white_2.png" height="28"></a>-->
          <!--<a href="index.html" class="logo-sm"><img src="/static/images/logo_sm.png" height="36"></a>-->
        </div>
      </div>
      <!-- Button mobile view to collapse sidebar menu -->
      <div class="navbar navbar-default navbar-dashboard" role="navigation">
        <div class="container">
          <div class="">
            <div class="pull-left">
              <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                <i class="ion-navicon"></i>
              </button>
              <span class="clearfix"></span>
            </div>

            <ul class="hidden-xs nav navbar-nav nav-pais">
              {% if not request.session.anio %}
              <li {% if '?pais=1' in request.get_full_path %}class="active"{% endif %}><a href="/productores/dashboard/?pais=1">Nicaragua</a></li>
              <li {% if '?pais=2' in request.get_full_path  %}class="active"{% endif %}><a href="/productores/dashboard/?pais=2">Honduras</a></li>
              <li {% if '?pais=3' in request.get_full_path  %}class="active"{% endif %}><a href="/productores/dashboard/?pais=3">Guatemala</a></li>
              {% else %}
              <li class="active"><a href="#">{{request.session.pais}}</a></li>
              {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right pull-right">
              <li class="">
                <a href="/"  class="waves-effect waves-light profile">Inicio</a>
              </li>

              <li class="">
                <a href="/productores/"  class="waves-effect waves-light profile">Consultar</a>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                  
                    {% if user.get_full_name %}{{user.get_full_name}}{% else %}{{ user.username }}{% endif %} <br>
                    <!--<small>Gerente</small>-->
                 
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin"> Administrador</a></li>
                    <li><a href="/logout"> Cerrar sesion</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->

    <div class="left side-menu" style="overflow: inherit;">
      <div class="sidebar-inner slimscrollleft" style="overflow: inherit;">

        <div class="user-details">

          <div class="user-info">
            <h4>Consultar</h4>


          </div>
        </div>
        <!--- Divider -->


        <div id="sidebar-menu">
          <form class="container-fluid" action="." method="post">{% csrf_token %}
            <div class="form-group">
              <label class="control-label">Año</label>
              {{form.anio}}
            </div>
            <div class="form-group">
              <label class="control-label">Edad</label>
              {{form.edad}}
            </div>
            <div class="form-group">
              <label class="control-label">Sexo</label>
              {{form.sexo}}
            </div>
            <div class="form-group">
              <label class="control-label">País</label>
              {{form.pais}}
            </div>
            <div class="form-group">
              <label class="control-label">Departamento</label>
              {{form.departamento}}
            </div>
            <div class="form-group">
              <label class="control-label">Municipio</label>
              {{form.municipio}}
            </div>
            <div class="form-group">
              <label class="control-label">Organización</label>
              {{form.organizacion}}
            </div>

            <button class="btn btn-primary waves-effect waves-light" type="submit">Consulta</button>
          </form>
        </div>

        <div class="clearfix"></div>
      </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">

      {% block content %}{% endblock %}

      <div class="footer3">
        Desarrollado por <a href="">SIMAS</a>
      </div>

    </div>
    <!-- End Right content here -->

  </div>
  <!-- END wrapper -->


  <!-- jQuery  -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/modernizr.min.js"></script>
  <script src="/static/js/detect.js"></script>
  <script src="/static/js/fastclick.js"></script>
  <script src="/static/js/jquery.slimscroll.js"></script>
  <script src="/static/js/jquery.blockUI.js"></script>
  <script src="/static/js/waves.js"></script>
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/jquery.nicescroll.js"></script>
  <script src="/static/js/jquery.scrollTo.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="/static/js/bootstrap-multiselect.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $("#id_edad").addClass("form-control")
    $("#id_anio").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_pais").addClass("form-control");

    $("#id_departamento").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_municipio").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_organizacion").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_sexo").addClass("form-control");

    $("#id_departamento").multiselect('disable');
    $("#id_municipio").multiselect('disable');

    // deptos
    var deptos = [];
    $(document).on('change','#id_pais',function(){
      $('#id_pais :selected').each(function(i, selected){
        deptos[i] = $(selected).val();
        $('#id_departamento').multiselect('rebuild');
      });
      $.getJSON('/productores/ajax/deptos/?ids='+deptos.join(","), function(data){
        $('#id_departamento').html('');
        $("#id_departamento").multiselect('enable');
        $("#id_departamento").multiselect('refresh');
        if(data){
          $.each(data, function(i, item){
            $('#id_departamento').append($('<option></option>').val(item.id).html(item.nombre));
          });
          $('#id_departamento').multiselect('rebuild');
        }
      });

    });

    //municipios
    var foo = [];
    $(document).on('change','#id_departamento',function(){
      $('#id_departamento :selected').each(function(i, selected){
        foo[i] = $(selected).val();
        $('#id_municipio').multiselect('rebuild');
      });
      $.getJSON('/productores/ajax/municipios/?ids='+foo.join(","), function(data){
        $('#id_municipio').html('');
        $('#id_municipio').multiselect('enable');
        $("#id_municipio").multiselect('refresh');
        var municipio = $('#id_municipio');
        if(data){
          $.each(data, function(i, item){
            $.each(item, function(j, item2){
              var group = $('<optgroup></optgroup>').attr('label', j);
              $.each(item2, function(k, item3){
                group.append($('<option></option>').val(item3.id).html(item3.nombre));
              });
              group.appendTo(municipio);
              $('#id_municipio').multiselect('rebuild');
            });
          });
        }
      });
    });

  });
  </script>

  <script type="text/javascript">
  $( document ).ready(function() {
    {% if request.session.anio %}
    $('#id_anio').multiselect('select', [{% for anio in request.session.anio %}'{{anio}}',{% endfor %} ]);
    {% endif %}

    {% if request.session.pais %}
    $("#id_pais option[value='{{request.session.pais.id}}']").prop('selected', true);;
    {% endif %}

    {% if request.session.edad %}
    $("#id_edad option[value='{{request.session.edad}}']").prop('selected', true);;
    {% endif %}

    {% if request.session.sexo %}
    $("#id_sexo option[value='{{request.session.sexo}}']").prop('selected', true);;
    {% endif %}

    {% if request.session.organizacion %}
    $('#id_organizacion').multiselect('select', [{% for org in request.session.organizacion %}'{{org}}',{% endfor %} ]);
    {% endif %}

    {% if request.session.departamento %}
    $('#id_departamento').multiselect('select', [{% for depto in request.session.departamento %}'{{depto}}',{% endfor %} ]);
    {% endif %}

    {% if request.session.municipio %}
    $('#id_municipio').multiselect('select', [{% for muni in request.session.municipio %}'{{muni}}',{% endfor %} ]);
    {% endif %}

  });
  </script>


  {% block extra_js %}{% endblock %}

</body>
</html>
