{% extends "base.html" %}

{% block extra_css %}
<style type="text/css">
@media only screen and (max-width: 6000px) and (min-width: 700px) {

   .footer3 {background-color: #2a323c;color: white;padding: 20px;width: 100%;position: absolute;bottom: 0px;}
}
</style>
{% endblock %}
<link rel="stylesheet" href="static/css/bootstrap-multiselect.css">
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-color panel-primary panel-pages">

            <div class="panel-body">
                <h4 class="m-t-0">
                Consulta productores
                </h4>
                <form class="form-horizontal m-t-20" action="." method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Año</label>
                                <div class="col-md-6">
                                    {{form.anio}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Sexo</label>
                                <div class="col-md-6">
                                    {{form.sexo}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">País</label>
                                <div class="col-md-6">
                                    {{form.pais}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Edad</label>
                                <div class="col-md-6">
                                  {{form.edad}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Departamento</label>
                                <div class="col-md-6">
                                    {{form.departamento}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Municipio</label>
                                <div class="col-md-6">
                                    {{form.municipio}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-612col-lg-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Comunidad</label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        <option>2017</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Organización</label>
                                <div class="col-md-3">
                                    {{form.organizacion}}
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Rubro</label>
                                <div class="col-md-6">
                                    <select class="form-control">
                                        <option>2017</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary pull-right waves-effect waves-light" type="submit">Consultar</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#id_edad").addClass("form-control")
    $("#id_anio").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_pais").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_departamento").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_municipio").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_organizacion").addClass("form-control").multiselect({
      buttonWidth: '100%',
      includeSelectAllOption: true,
      selectAllText: "Seleccionar todos",
      buttonText: function(options, select) {
        if (options.length === 0) {
          return "Sin selección ...";
        }
        else if (options.length > 3) {
          return "Varias opciones seleccionadas!";
        }
        else {
          var labels = [];
          options.each(function() {
            if ($(this).attr('label') !== undefined) {
              labels.push($(this).attr('label'));
            }
            else {
              labels.push($(this).html());
            }
          });
          return labels.join(', ') + '';
        }
      }
    });
    $("#id_sexo").addClass("form-control");

    $("#id_departamento").multiselect('disable');
    $("#id_municipio").multiselect('disable');

    // deptos
    var deptos = [];
    $(document).on('change','#id_pais',function(){
      $('#id_pais :selected').each(function(i, selected){
        deptos[i] = $(selected).val();
        $('#id_departamento').multiselect('rebuild');
      });
      $.getJSON('/productores/ajax/deptos/?ids='+deptos.join(","), function(data){
        $('#id_departamento').html('');
        $("#id_departamento").multiselect('enable');
        $("#id_departamento").multiselect('refresh');
        if(data){
          $.each(data, function(i, item){
            $('#id_departamento').append($('<option></option>').val(item.id).html(item.nombre));
          });
          $('#id_departamento').multiselect('rebuild');
        }
      });

    });

    //municipios
    var foo = [];
    $(document).on('change','#id_departamento',function(){
      $('#id_departamento :selected').each(function(i, selected){
        foo[i] = $(selected).val();
        $('#id_municipio').multiselect('rebuild');
      });
      $.getJSON('/productores/ajax/municipios/?ids='+foo.join(","), function(data){
        $('#id_municipio').html('');
        $('#id_municipio').multiselect('enable');
        $("#id_municipio").multiselect('refresh');
        var municipio = $('#id_municipio');
        if(data){
          $.each(data, function(i, item){
            $.each(item, function(j, item2){
              var group = $('<optgroup></optgroup>').attr('label', j);
              $.each(item2, function(k, item3){
                group.append($('<option></option>').val(item3.id).html(item3.nombre));
              });
              group.appendTo(municipio);
              $('#id_municipio').multiselect('rebuild');
            });
          });
        }
      });
    });

  });
</script>
<script type="text/javascript">
    $( ".navbar-default ul li" ).removeClass( "active" );
    $( ".navbar-default ul li.prod" ).addClass( "active" );

</script>
{% endblock %}
