{% extends "productores/base_dashboard.html" %}
{% load l10n %}
{% load humanize %}

{% block content %}
<div class="content">
    <div class="">
        <div class="page-header-title">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    {% if not request.session.anio %}

                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li class="active">Dashboard productores</li>
                    </ol>
                    {% else %}
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="/productores/">Consulta</a>
                        </li>
                        <li class="active">Productores</li>
                    </ol>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                    <ul class=" nav navbar-nav pull-right nav-pais">
                        {% if not request.session.anio %}
                        <li {% if '?pais=1' in request.get_full_path %}class="active"{% endif %}><a href="/productores/dashboard/?pais=1">

                            Nicaragua</a></li>
                            <li><a href="/productores/dashboard/?pais=2">Honduras</a></li>
                            <li {% if '?pais=3' in request.get_full_path  %}class="active"{% endif %}><a href="/productores/dashboard/?pais=3">Guatemala</a></li>
                            {% else %}
                            <li class="active"><a href="#">{{request.session.pais}}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-content-wrapper ">

            <div class="container">

                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light"><b>Familias</b></h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><b>{{familias|intcomma}}</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light"><b>Hombres</b></h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><b>{{hombres|intcomma}}</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light"><b>Mujeres</b></h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><b>{{mujeres|intcomma}}</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light"><b>Menores de 35</b></h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><b>{{menores_35|intcomma}}</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light"><b>Hectareas</b></h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><b>{{hectareas|floatformat:"2"}}</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Promedio</b></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-lg-2">
                        <div class="panel text-center">
                            <div class="panel-heading">
                                <h4 class="panel-title text-muted font-light"><b>Certificación</b></h4>
                            </div>
                            <div class="panel-body p-t-10">
                                <h2 class="m-t-0 m-b-15"><b>{{certificacion|intcomma}}</b></h2>
                                <p class="text-muted m-b-0 m-t-20"><b>Productores</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="m-t-0">Ingresos del productor por cultivo 
                                    <!--<span class="mdi mdi-help-circle"></span>-->
                                </h4>
                                <small class="more-ind">
                                    <a href="{% if '/productores/dashboard/?pais=' in request.get_full_path %}/productores/dashboard/ingresos/?pais={{id_pais}}{% else %}/productores/dashboard/ingresos/{% endif %}">+indicadores</a> 
                                </small>
                            </div>
                            <div class="panel-body">
                                
                                <div id="grafico1" width='100%'></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="m-t-0">Distribución de áreas sembradas y cosechadas por cultivo
                                    <!--<span class="mdi mdi-help-circle"></span>-->
                                </h4>
                                <small class="more-ind">
                                    <a href="{% if '/productores/dashboard/?pais=' in request.get_full_path %}/productores/dashboard/distribucion/?pais={{id_pais}}{% else %}/productores/dashboard/distribucion/{% endif %}">+ indicadores</a>
                                </small>
                            </div>
                            <div class="panel-body">

                                    <div role="tabpanel tabs-grafico">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#café" aria-controls="café" role="tab" data-toggle="tab">Café</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#cacao" aria-controls="cacao" role="tab" data-toggle="tab">Cacao</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#hortaliza" aria-controls="hortaliza" role="tab" data-toggle="tab">Hortalizas</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="café">
                                                <div id="grafico2" width:'100%' style="height: 350px;"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="cacao">
                                                <div id="grafico2-1" width='100%' style="height: 350px;"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="hortaliza">
                                                <div id="grafico2-2" width:'100%' style="height: 350px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-t-0">Cantidad de productores con producción sustentable, practicas MIP y BPA 
                                        <!--<span class="mdi mdi-help-circle"></span>-->
                                    </h4>
                                    <div id="grafico3" width:'100%' style="height: 350px;"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-t-0">Aumento del índice de producción sustentable 
                                        <!--<span class="mdi mdi-help-circle"></span>-->
                                    </h4>

                                    <div id="grafico4" width:'100%' style="height: 350px;"></div>
                                    <br>
                                    <h4 class="m-t-0 text-center">Indice total <span class="n-dash">{{indice|floatformat:'0'}}</span> en el año {{last_year}}</h4>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-t-0">Aumento del índice de manejo de plaga 
                                    <!--<span class="mdi mdi-help-circle"></span>-->
                                    </h4>
                                    <div role="tabpanel tabs-grafico">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#café-2" aria-controls="café-2" role="tab" data-toggle="tab">Café</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#cacao-2" aria-controls="cacao-2" role="tab" data-toggle="tab">Cacao</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#hortaliza-2" aria-controls="hortaliza-2" role="tab" data-toggle="tab">Hortalizas</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="café-2">
                                                <div id="grafico8-1" width:'100%' style="height: 350px;"></div>
                                                <br>
                                                {% for k,v in dicc_indice.items %}
                                                {% if k == 'Cacao' %}
                                                <h4 class="m-t-0 text-center">Indice total <span class="n-dash">{{v.0|floatformat:'0'}}</span> en el año {{v.1}}</h4>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="cacao-2">
                                                <div id="grafico8-2" width:'100%' style="height: 350px;"></div>
                                                <br>
                                                {% for k,v in dicc_indice.items %}
                                                {% if k == 'Café' %}
                                                <h4 class="m-t-0 text-center">Indice total <span class="n-dash">{{v.0|floatformat:'0'}}</span> en el año {{v.1}}</h4>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="hortaliza-2">
                                                <div id="grafico8-3" width:'100%' style="height: 350px;"></div>
                                                <br>
                                                {% for k,v in dicc_indice.items %}
                                                {% if k == 'Hortalizas' %}
                                                <h4 class="m-t-0 text-center">Indice total <span class="n-dash">{{v.0|floatformat:'0'}}</span> en el año {{v.1}}</h4>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-t-0">Incremento del margen bruto 
                                    <!--<span class="mdi mdi-help-circle"></span>-->
                                    </h4>
                                    <div role="tabpanel tabs-grafico">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#café-margen" aria-controls="café" role="tab" data-toggle="tab">Café</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#cacao-margen" aria-controls="cacao" role="tab" data-toggle="tab">Cacao</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#hortaliza-margen" aria-controls="hortaliza" role="tab" data-toggle="tab">Hortalizas</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="café-margen">
                                                <div id="grafico5-cafe" style="height: 150px;"></div>
                                                <div id="grafico6-cafe" style="height: 150px;"></div>
                                                <div id="grafico7-cafe" style="height: 150px;"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="cacao-margen">
                                                <div id="grafico5-cacao" style="height: 150px;"></div>
                                                <div id="grafico6-cacao" style="height: 150px;"></div>
                                                <div id="grafico7-cacao" style="height: 150px;"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="hortaliza-margen">
                                                <div id="grafico5-horta" style="height: 150px;"></div>
                                                <div id="grafico6-horta" style="height: 150px;"></div>
                                                <div id="grafico7-horta" style="height: 150px;"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- end row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4 class="m-t-0">Rendimiento promedio
                                    <!--<span class="mdi mdi-help-circle"></span>-->
                                    </h4>

                                    <div role="tabpanel tabs-grafico">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#café-r" aria-controls="café" role="tab" data-toggle="tab">Café</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#cacao-r" aria-controls="cacao" role="tab" data-toggle="tab">Cacao</a>
                                            </li>
                                            <li role="presentation">
                                                <a href="#hortaliza-r" aria-controls="hortaliza" role="tab" data-toggle="tab">Hortalizas</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="café-r">
                                                <div id="grafico10" width:'100%' style="height: 350px;"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="cacao-r">
                                                <div id="grafico11" width:'100%' style="height: 350px;"></div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="hortaliza-r">
                                                <div id="grafico12" width:'100%' style="height: 350px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end 12 -->
                    </div><!-- end row -->



                </div><!-- container -->


            </div> <!-- Page content Wrapper -->

        </div> <!-- content -->

{% endblock %}
<!-- Start content -->

{% block extra_js %}
<script type="text/javascript">
Highcharts.chart('grafico1', {
  title: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    }
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{ anios.keys.0 }}
    }
  },
  series: [{
    name: 'Café',
    data: [{% for v in anios.values %}{{v.0|intcomma|floatformat:'2'|default:'0'}},{% endfor %}]
  }, {
    name: 'Cacao',
    data: [{% for v in anios.values %}{{v.1|intcomma|floatformat:'2'|default:'0'}},{% endfor %}]
  }, {
    name: 'Hortalizas',
    data: [{% for v in anios.values %}{{v.2|intcomma|floatformat:'2'|default:'0'}},{% endfor %}]
  }]
});
Highcharts.chart('grafico2', {
  chart: {
    type: 'bar'
  },
  title: {
    text: ''
  },
  xAxis: {
    categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}],
    title: {
      text: null
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Héctareas',
      align: 'high'
    },
    labels: {
      overflow: 'justify'
    }
  },
  tooltip: {
    valueSuffix: 'ha'
  },
  plotOptions: {
    bar: {
      dataLabels: {
        enabled: true
      }
    }
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'Área sembrada',
    data: [{% for values in anios.values %}
      {% for k,v in values.10.items %}
      {% if k == 'Café' %}
      {{v.0|default:'0'|unlocalize|intcomma|floatformat:"2"}},
      {% endif %}
      {% endfor %}
      {% endfor %}]
    }, {
      name: 'Área cosechada',
      data: [{% for values in anios.values %}
        {% for k,v in values.10.items %}
        {% if k == 'Café' %}
        {{v.1|default:'0'|unlocalize|intcomma|floatformat:"2"}},
        {% endif %}
        {% endfor %}
        {% endfor %}]
      }]
    });
    Highcharts.chart('grafico2-1', {
      chart: {
        type: 'bar'
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}],
        title: {
          text: null
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Héctareas',
          align: 'high'
        },
        labels: {
          overflow: 'justify'
        }
      },
      tooltip: {
        valueSuffix: 'ha'
      },
      plotOptions: {
        bar: {
          dataLabels: {
            enabled: true
          }
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Área sembrada',
        data: [{% for values in anios.values %}
          {% for k,v in values.10.items %}
          {% if k == 'Cacao' %}
          {{v.0|default:'0'|unlocalize}},
          {% endif %}
          {% endfor %}
          {% endfor %}]
        }, {
          name: 'Área cosechada',
          data: [{% for values in anios.values %}
            {% for k,v in values.10.items %}
            {% if k == 'Cacao' %}
            {{v.1|default:'0'|unlocalize}},
            {% endif %}
            {% endfor %}
            {% endfor %}]
          }]
        });
        Highcharts.chart('grafico2-2', {
          chart: {
            type: 'bar'
          },
          title: {
            text: ''
          },
          xAxis: {
            categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}],
            title: {
              text: null
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Héctareas',
              align: 'high'
            },
            labels: {
              overflow: 'justify'
            }
          },
          tooltip: {
            valueSuffix: 'ha'
          },
          plotOptions: {
            bar: {
              dataLabels: {
                enabled: true
              }
            }
          },
          credits: {
            enabled: false
          },
          series: [{
            name: 'Área sembrada',
            data: [{% for values in anios.values %}
              {% for k,v in values.10.items %}
              {% if k == 'Hortaliza' %}
              {{v.0|default:'0'|unlocalize}},
              {% endif %}
              {% endfor %}
              {% endfor %}]
            }, {
              name: 'Área cosechada',
              data: [{% for values in anios.values %}
                {% for k,v in values.10.items %}
                {% if k == 'Hortaliza' %}
                {{v.1|default:'0'|unlocalize}},
                {% endif %}
                {% endfor %}
                {% endfor %}]
              }]
            });
            Highcharts.chart('grafico3', {
              chart: {
                type: 'bar'
              },
              title: {
                text: ''
              },
              subtitle: {
                text: ''
              },
              xAxis: {
                categories: ['Productores con<br>producción sustentable', 'Productores que<br>realizan MIP', 'Productores que<br>realizan BPA'],
                title: {
                  text: null
                }
              },
              yAxis: {
                min: 0,
                title: {
                  text: '',
                  align: 'high'
                },
                labels: {
                  overflow: 'justify'
                }
              },
              tooltip: {
                valueSuffix: ''
              },
              plotOptions: {
                bar: {
                  dataLabels: {
                    enabled: true
                  }
                }
              },
              legend: {
                align: 'center',
                verticalAlign: 'bottom',
                layout: 'horizontal'
              },
              credits: {
                enabled: false
              },
              series: [
              {%for k,v in anios.items %}
                {
                  name: '{{k}}',
                  data: [{{v.11}}, {{v.12}}, {{v.13}}]
                },
              {% endfor %}
              ]
            });
            Highcharts.chart('grafico4', {
              chart: {
                polar: true,
                type: 'line'
              },
              title: {
                text: '',
                x: -80
              },
              pane: {
                size: '80%'
              },
              xAxis: {
                categories: ['Conservación de suelos', 'Manejo de aguas','Manejo de <br/>recursos naturales',
                'Cambios climáticos', 'Biodiversidad', 'Manejo landscape'],
                tickmarkPlacement: 'on',
                lineWidth: 0
              },
              yAxis: {
                gridLineInterpolation: 'circle',
                lineWidth: 0,
                min: 0
              },
              tooltip: {
                shared: true,
                pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y}</b><br/>'
              },
              legend: {
                align: 'center',
                verticalAlign: 'bottom',
                layout: 'horizontal'
              },
              series: [
                {% for k,v in anios.items %}
                {
                  name: '{{k}}',
                  data: [{{v.3|floatformat:"0"}},{{v.4|floatformat:"0"}}, {{v.5|floatformat:"0"}},
                  {{v.6|floatformat:"0"}}, {{v.7|floatformat:"0"}}, {{v.8|floatformat:"0"}}],
                  pointPlacement: 'on'
                },
                {% endfor %}
              ]
            });
            //graficos margen cafe
            Highcharts.chart('grafico5-cafe', {
              title: {
                text: 'Margen bruto del café'
              },
              subtitle: {
                text: ''
              },
              yAxis: {
                title: {
                  text: 'Dolares'
                },
              },
              xAxis: {
                allowDecimals: false,
              },
              plotOptions: {
                series: {
                  pointStart: {{ingresos_cafe.keys.0}}
                }
              },
              series: [{
                name: 'Margen bruto',
                data: [{% for k,v in ingresos_cafe.items %}{{v.4|intcomma|default:'0'|floatformat:'2'}},{% endfor %}]
              }]
            });
            Highcharts.chart('grafico6-cafe', {
              title: {
                text: 'Ingresos del café'
              },
              subtitle: {
                text: ''
              },
              yAxis: {
                title: {
                  text: 'Dolares'
                },
              },
              xAxis: {
                allowDecimals: false,
              },
              plotOptions: {
                series: {
                  pointStart: {{ingresos_cafe.keys.0}}
                }
              },
              series: [{
                name: 'Ingreso promedio del productor',
                data: [{% for k,v in ingresos_cafe.items %}{{v.0|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
                color: '#f7a35c'
              },
              {
                name: 'Ingreso promedio nacional',
                data: [{% for k,v in ingresos_cafe.items %}{{v.1|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
                color: '#050f2c'
              },
            ]
          });
          Highcharts.chart('grafico7-cafe', {
            title: {
              text: 'Costos café'
            },
            subtitle: {
              text: ''
            },
            yAxis: {
              title: {
                text: 'Dolares'
              },
            },
            xAxis: {
              allowDecimals: false,
            },
            plotOptions: {
              series: {
                pointStart: {{ingresos_cafe.keys.0}}
              }
            },
            series: [{
              name: 'Costos promedio del productor',
              data: [{% for k,v in ingresos_cafe.items %}{{v.2|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
              color: '#90ed7d'
            },{
              name: 'Costos promedio nacional',
              data: [{% for k,v in ingresos_cafe.items %}{{v.3|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
              color: '#050f2c'
            }]
          });
          //fin graficos margen cafe
          //graficos margen cacao
            Highcharts.chart('grafico5-cacao', {
              title: {
                text: 'Margen bruto del cacao'
              },
              subtitle: {
                text: ''
              },
              yAxis: {
                title: {
                  text: 'Dolares'
                },
              },
              xAxis: {
                allowDecimals: false,
              },
              plotOptions: {
                series: {
                  pointStart: {{ingresos_cacao.keys.0}}
                }
              },
              series: [{
                name: 'Margen bruto',
                data: [{% for k,v in ingresos_cacao.items %}{{v.4|default:'0'|floatformat:'2'}},{% endfor %}]
              }]
            });
            Highcharts.chart('grafico6-cacao', {
              title: {
                text: 'Ingresos del cacao'
              },
              subtitle: {
                text: ''
              },
              yAxis: {
                title: {
                  text: 'Dolares'
                },
              },
              xAxis: {
                allowDecimals: false,
              },
              plotOptions: {
                series: {
                  pointStart: {{ingresos_cacao.keys.0}}
                }
              },
              series: [{
                name: 'Ingreso promedio del productor',
                data: [{% for k,v in ingresos_cacao.items %}{{v.0|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
                color: '#f7a35c'
              },
              {
                name: 'Ingreso promedio nacional',
                data: [{% for k,v in ingresos_cacao.items %}{{v.1|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
                color: '#050f2c'
              },
            ]
          });
          Highcharts.chart('grafico7-cacao', {
            title: {
              text: 'Costos cacao'
            },
            subtitle: {
              text: ''
            },
            yAxis: {
              title: {
                text: 'Dolares'
              },
            },
            xAxis: {
              allowDecimals: false,
            },
            plotOptions: {
              series: {
                pointStart: {{ingresos_cacao.keys.0}}
              }
            },
            series: [{
              name: 'Costos promedio del productor',
              data: [{% for k,v in ingresos_cacao.items %}{{v.2|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
              color: '#90ed7d'
            },{
              name: 'Costos promedio nacional',
              data: [{% for k,v in ingresos_cacao.items %}{{v.3|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
              color: '#050f2c'
            }]
          });
          //fin graficos margen cacao
           //graficos margen hortaliza
            Highcharts.chart('grafico5-horta', {
              title: {
                text: 'Margen bruto de la hortaliza'
              },
              subtitle: {
                text: ''
              },
              yAxis: {
                title: {
                  text: 'Dolares'
                },
              },
              xAxis: {
                allowDecimals: false,
              },
              plotOptions: {
                series: {
                  pointStart: {{ingresos_hostalizas.keys.0}}
                }
              },
              series: [{
                name: 'Margen bruto',
                data: [{% for k,v in ingresos_hostalizas.items %}{{v.4|intcomma|default:'0'|floatformat:'2'}},{% endfor %}]
              }]
            });
            Highcharts.chart('grafico6-horta', {
              title: {
                text: 'Ingresos de la hortaliza'
              },
              subtitle: {
                text: ''
              },
              yAxis: {
                title: {
                  text: 'Dolares'
                },
              },
              xAxis: {
                allowDecimals: false,
              },
              plotOptions: {
                series: {
                  pointStart: {{ingresos_hostalizas.keys.0}}
                }
              },
              series: [{
                name: 'Ingreso promedio del productor',
                data: [{% for k,v in ingresos_hostalizas.items %}{{v.0|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
                color: '#f7a35c'
              },
              {
                name: 'Ingreso promedio nacional',
                data: [{% for k,v in ingresos_hostalizas.items %}{{v.1|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
                color: '#050f2c'
              },
            ]
          });
          Highcharts.chart('grafico7-horta', {
            title: {
              text: 'Costos hortaliza'
            },
            subtitle: {
              text: ''
            },
            yAxis: {
              title: {
                text: 'Dolares'
              },
            },
            xAxis: {
              allowDecimals: false,
            },
            plotOptions: {
              series: {
                pointStart: {{ingresos_hostalizas.keys.0}}
              }
            },
            series: [{
              name: 'Costos promedio del productor',
              data: [{% for k,v in ingresos_hostalizas.items %}{{v.2|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
              color: '#90ed7d'
            },{
              name: 'Costos promedio nacional',
              data: [{% for k,v in ingresos_hostalizas.items %}{{v.3|intcomma|default:'0'|floatformat:'2'}},{% endfor %}],
              color: '#050f2c'
            }]
          });
          //fin graficos margen hortaliza
          Highcharts.chart('grafico8-1', {
            chart: {
              polar: true,
              type: 'line'
            },
            title: {
              text: '',
              x: -80
            },
            pane: {
              size: '80%'
            },
            xAxis: {
              categories: ['Material de siembra sano', 'Preparación del terreno', 'Control de plagas y enfermedades', 'Densidad del sistema correcto',
              'Fertilización adecuada', 'Control de malezas'],
              tickmarkPlacement: 'on',
              lineWidth: 0
            },
            yAxis: {
              gridLineInterpolation: 'circle',
              lineWidth: 0,
              min: 0
            },
            tooltip: {
              shared: true,
              pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
            },
            legend: {
              align: 'center',
              verticalAlign: 'bottom',
              layout: 'horizontal'
            },
            series: [
              {% for key,value in anios.items %}
              {% for k,v in value.9.items %}
              {% if  k == 'Cacao' %}
              {
                name: '{{key}}',
                data: [{{v.0|floatformat:"0"}},{{v.1|floatformat:"0"}},{{v.2|floatformat:"0"}},
                {{v.3|floatformat:"0"}},{{v.4|floatformat:"0"}},{{v.5|floatformat:"0"}}],
                pointPlacement: 'on'
              },
              {% endif %}
              {% endfor %}
              {% endfor %}
            ]
          });
          Highcharts.chart('grafico8-2', {
            chart: {
              polar: true,
              type: 'line'
            },
            title: {
              text: '',
              x: -80
            },
            pane: {
              size: '80%'
            },
            xAxis: {
              categories: ['Material de siembra sano', 'Preparación del terreno', 'Control de plagas y enfermedades', 'Densidad del sistema correcto',
              'Fertilización adecuada', 'Control de malezas'],
              tickmarkPlacement: 'on',
              lineWidth: 0
            },
            yAxis: {
              gridLineInterpolation: 'circle',
              lineWidth: 0,
              min: 0
            },
            tooltip: {
              shared: true,
              pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
            },
            legend: {
              align: 'center',
              verticalAlign: 'bottom',
              layout: 'horizontal'
            },
            series: [
              {% for key,value in anios.items %}
              {% for k,v in value.9.items %}
              {% if  k == 'Café' %}
              {
                name: '{{key}}',
                data: [{{v.0|floatformat:"0"}},{{v.1|floatformat:"0"}},{{v.2|floatformat:"0"}},
                {{v.3|floatformat:"0"}},{{v.4|floatformat:"0"}},{{v.5|floatformat:"0"}}],
                pointPlacement: 'on'
              },
              {% endif %}
              {% endfor %}
              {% endfor %}
            ]
          });
          Highcharts.chart('grafico8-3', {
            chart: {
              polar: true,
              type: 'line'
            },
            title: {
              text: '',
              x: -80
            },
            pane: {
              size: '80%'
            },
            xAxis: {
              categories: ['Material de siembra sano', 'Preparación del terreno', 'Control de plagas y enfermedades', 'Densidad del sistema correcto',
              'Fertilización adecuada', 'Control de malezas'],
              tickmarkPlacement: 'on',
              lineWidth: 0
            },
            yAxis: {
              gridLineInterpolation: 'circle',
              lineWidth: 0,
              min: 0
            },
            tooltip: {
              shared: true,
              pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
            },
            legend: {
              align: 'center',
              verticalAlign: 'bottom',
              layout: 'horizontal'
            },
            series: [
              {% for key,value in anios.items %}
              {% for k,v in value.9.items %}
              {% if  k == 'Hortalizas' %}
              {
                name: '{{key}}',
                data: [{{v.0|floatformat:"0"}},{{v.1|floatformat:"0"}},{{v.2|floatformat:"0"}},
                {{v.3|floatformat:"0"}},{{v.4|floatformat:"0"}},{{v.5|floatformat:"0"}}],
                pointPlacement: 'on'
              },
              {% endif %}
              {% endfor %}
              {% endfor %}
            ]
          });
    Highcharts.chart('grafico10', {
      title: {
          text: 'Rendimientos Café'
      },
      xAxis: {
          categories: [{% for k,v  in rendimientos.items %}'{{k}}',{%endfor%}]
      },
      yAxis: {
        title: {
            text: 'Quintales(qq)'
        }
    },
      series: [
      {% for k,v in rendimientos.items %}
        {
          type: 'column',
          name: '{{k}}',
          data: [{{v.0|default:'0'|unlocalize}},]
      },
      {% endfor %}
       {
          type: 'spline',
          name: 'Promedio nacional',
          data: [{% for k,v in rendimientos.items %}{{v.1|default:'0'|unlocalize}},{%endfor%}],
          marker: {
              lineWidth: 2,
              lineColor: Highcharts.getOptions().colors[3],
              fillColor: 'white'
          }
      }]
    });
    Highcharts.chart('grafico11', {
      title: {
          text: 'Rendimientos Cacao'
      },
      xAxis: {
          categories: [{% for k,v  in rendimientos.items %}'{{k}}',{%endfor%}]
      },
      yAxis: {
        title: {
            text: 'Quintales(qq)'
        }
    },
      series: [
      {% for k,v in rendimientos.items %}
        {
          type: 'column',
          name: '{{k}}',
          data: [{{v.2|default:'0'|unlocalize}},]
      },
      {% endfor %}
       {
          type: 'spline',
          name: 'Promedio nacional',
          data: [{% for k,v in rendimientos.items %}{{v.3|default:'0'|unlocalize}},{%endfor%}],
          marker: {
              lineWidth: 2,
              lineColor: Highcharts.getOptions().colors[3],
              fillColor: 'white'
          }
      }]
    });
     Highcharts.chart('grafico12', {
      title: {
          text: 'Rendimientos Hortalizas'
      },
      xAxis: {
          categories: [{% for k,v  in rendimientos.items %}'{{k}}',{%endfor%}]
      },
      series: [
      {% for k,v in rendimientos.items %}
        {
          type: 'column',
          name: '{{k}}',
          data: [{{v.4|default:'0'|unlocalize}},]
      },
      {% endfor %}
       {
          type: 'spline',
          name: 'Promedio nacional',
          data: [{% for k,v in rendimientos.items %}{{v.5|default:'0'|unlocalize}},{%endfor%}],
          marker: {
              lineWidth: 2,
              lineColor: Highcharts.getOptions().colors[3],
              fillColor: 'white'
          }
      }]
    });
</script>
{% endblock %}
