{% extends "productores/base_dashboard.html" %}
{% load l10n %}

{% block content %}
<div class="content">
  <div class="">
    <div class="page-header-title">
      <h4 class="page-title">Distribución</h4>
    </div>
  </div>

  <div class="page-content-wrapper ">

    <div class="container">

      <div class="row">
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Familias</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{familias}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Hombres</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{hombres}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Mujeres</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{mujeres}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Menores de 35</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{menores_35}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Hectareas</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{hectareas}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Promedio</b></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Certificación</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{certificacion}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Productores</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-body">
              <h4 class="m-t-0">Distribución de la finca por hectárea promedio <span class="mdi mdi-help-circle"></span></h4>
              <div id="grafico1"></div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Lista de Productores</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive table-prod">
                                <table class="table table-hover">
                                    <tbody>
                                        {% for prod in productores %}
                                            <tr>
                                                <td>{{prod.productor}}</td>
                                                <td >
                                                    <a class="link-prod"  {% if '/productores/dashboard/distribucion/?pais=' in request.get_full_path %}href="{% url 'ficha-productor' prod.productor.id %}?pais={{id_pais}}"{% else %}href="{% url 'ficha-productor' prod.productor.id %}"{% endif %}>
                                                        Ver ficha
                                                    </a>
                                                </td>
                                           </tr>

                                       {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <table>
            <tr>
             <th></th>
             <th></th>
           </tr>
           
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="/static/js/heatmap.js"></script>
<script src="/static/js/treemap.js"></script>
<script type="text/javascript">
Highcharts.chart('grafico1', {
    colorAxis: {
        minColor: '#FFFFFF',
        maxColor: Highcharts.getOptions().colors[0]
    },
    series: [{
        type: 'treemap',
        layoutAlgorithm: 'squarified',
        data: [
          {% for k,v in distribucion.items %}
            {
              name: '{{k}}',
              value: {{v|default:'0'|unlocalize}},
              colorValue: {{forloop.counter}}
            },
          {% endfor %}
         ]
    }],
    title: {
        text: ''
    }
});
</script>
{% endblock %}
