{% extends "productores/base_dashboard.html" %}

{% block content %}
<div class="content">
  <div class="">
    <div class="page-header-title">
      <h4 class="page-title">Ingresos</h4>
    </div>
  </div>

  <div class="page-content-wrapper ">

    <div class="container">

      <div class="row">
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Familias</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{familias}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Hombres</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{hombres}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Mujeres</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{mujeres}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Menores de 35</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{menores_35}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Hectareas</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{hectareas}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Promedio</b></p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <div class="panel text-center">
            <div class="panel-heading">
              <h4 class="panel-title text-muted font-light"><b>Certificación</b></h4>
            </div>
            <div class="panel-body p-t-10">
              <h2 class="m-t-0 m-b-15"><b>{{certificacion}}</b></h2>
              <p class="text-muted m-b-0 m-t-20"><b>Productores</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-body">
              <h4 class="m-t-0">Detalles de los cultivos <span class="mdi mdi-help-circle"></span></h4>
              <div id="grafico1"></div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-body">
              <h4 class="m-t-0">Ventas de productos sanos al mercado <span class="mdi mdi-help-circle"></span></h4>
              <div role="tabpanel tabs-grafico">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#café" aria-controls="café" role="tab" data-toggle="tab">Café</a>
                  </li>
                  <li role="presentation">
                    <a href="#cacao" aria-controls="cacao" role="tab" data-toggle="tab">Cacao</a>
                  </li>
                  <li role="presentation">
                    <a href="#hortaliza" aria-controls="hortaliza" role="tab" data-toggle="tab">Hortalizas</a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="café">
                    <div id="grafico2-1" width:'100%' style="height: 350px;"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="cacao">
                    <div id="grafico2-2" width:'100%' style="height: 350px;"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="hortaliza">
                    <div id="grafico2-3" width:'100%' style="height: 350px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-body">
              <h4 class="m-t-0">Contribucion al ingreso por rubro <span class="mdi mdi-help-circle"></span></h4>
              <div id="grafico3" width:'100%' style="height: 300px;"></div>
            </div>
          </div>
        </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4">

      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <h4 class="m-t-0">Incremento en volumen de venta de productos sanos al mercado formal e informal <span class="mdi mdi-help-circle"></span></h4>
            <div role="tabpanel tabs-grafico">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#café-4" aria-controls="café-4" role="tab" data-toggle="tab">Café</a>
                </li>
                <li role="presentation">
                  <a href="#cacao-4" aria-controls="cacao-4" role="tab" data-toggle="tab">Cacao</a>
                </li>
                <li role="presentation">
                  <a href="#hortaliza-4" aria-controls="hortaliza-4" role="tab" data-toggle="tab">Hortalizas</a>
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="café-4">
                  <div id="grafico4-1" width:'100%' style="height: 350px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="cacao-4">
                  <div id="grafico4-2" width:'100%' style="height: 350px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="hortaliza-4">
                  <div id="grafico4-3" width:'100%' style="height: 350px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <h4 class="m-t-0">Incremento del rendimiento por área cosechada <span class="mdi mdi-help-circle"></span></h4>
            <div id="grafico7" width:'100%' style="height: 350px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <h4 class="m-t-0">Incremento del volumen de producción <span class="mdi mdi-help-circle"></span></h4>
            <div role="tabpanel tabs-grafico">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                {% for key in anios.keys %}
                <li role="presentation" class="{% if forloop.first %}active{% endif %}">
                  <a href="#{{key}}" aria-controls="{{key}}" role="tab" data-toggle="tab">{{key}}</a>
                </li>
                {% endfor %}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                {% for key in anios.keys %}
                <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{key}}">
                  <div id="grafico5-{{forloop.counter}}" width:'100%' style="height: 350px;"></div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-body">
            <h4 class="m-t-0">Aumento de ingresos por hectáreas por cada rubro <span class="mdi mdi-help-circle"></span></h4>
            <div role="tabpanel tabs-grafico">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#café-margen" aria-controls="café" role="tab" data-toggle="tab">Café</a>
              </li>
              <li role="presentation">
                <a href="#cacao-margen" aria-controls="cacao" role="tab" data-toggle="tab">Cacao</a>
              </li>
              <li role="presentation">
                <a href="#hortaliza-margen" aria-controls="hortaliza" role="tab" data-toggle="tab">Hortalizas</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="café-margen">
                <div id="grafico6-1.1" style="height: 150px;"></div>
                <div id="grafico6-1.2" style="height: 150px;"></div>
                <div id="grafico6-1.3" style="height: 150px;"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="cacao-margen">
                <div id="grafico6-2.1" style="height: 150px;"></div>
                <div id="grafico6-2.2" style="height: 150px;"></div>
                <div id="grafico6-2.3" style="height: 150px;"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="hortaliza-margen">
                <div id="grafico6-3.1" style="height: 150px;"></div>
                <div id="grafico6-3.2" style="height: 150px;"></div>
                <div id="grafico6-3.3" style="height: 150px;"></div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
Highcharts.chart('grafico2-1', {
chart: {
  type: 'column'
},
title: {
  text: ''
},
xAxis: {
  categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}],
  title: {
    text: null
  }
},
yAxis: {
  min: 0,
  title: {
    text: 'Volumen',
    // align: 'high'
  },
  labels: {
    overflow: 'justify'
  }
},
// tooltip: {
//   valueSuffix: 'ha'
// },
plotOptions: {
  column: {
    dataLabels: {
      enabled: true
    }
  }
},
credits: {
  enabled: false
},
series: [{
  name: 'Formal',
  data: [{% for values in anios.values %}
    {% for k,v in values.0.items %}
    {% if k == 'Café' %}
    {{v.0|default:'0'}},
    {% endif %}
    {% endfor %}
    {% endfor %}]
  }, {
    name: 'Informal',
    data: [{% for values in anios.values %}
      {% for k,v in values.0.items %}
      {% if k == 'Café' %}
      {{v.1|default:'0'}},
      {% endif %}
      {% endfor %}
      {% endfor %}]
    }],
  });

Highcharts.chart('grafico2-2', {
chart: {
  type: 'column'
},
title: {
  text: ''
},
xAxis: {
  categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}],
  title: {
    text: null
  }
},
yAxis: {
  min: 0,
  title: {
    text: 'Volumen',
    // align: 'high'
  },
  labels: {
    overflow: 'justify'
  }
},
tooltip: {
  valueSuffix: 'ha'
},
plotOptions: {
  column: {
    dataLabels: {
      enabled: true
    }
  }
},
credits: {
  enabled: false
},
series: [{
  name: 'Formal',
  data: [{% for values in anios.values %}
    {% for k,v in values.0.items %}
    {% if k == 'Cacao' %}
    {{v.0|default:'0'}},
    {% endif %}
    {% endfor %}
    {% endfor %}]
  }, {
    name: 'Informal',
    data: [{% for values in anios.values %}
      {% for k,v in values.0.items %}
      {% if k == 'Cacao' %}
      {{v.1|default:'0'}},
      {% endif %}
      {% endfor %}
      {% endfor %}]
    }],
  });

Highcharts.chart('grafico2-3', {
  chart: {
    type: 'column'
  },
  title: {
    text: ''
  },
  xAxis: {
    categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}],
    title: {
      text: null
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Volumen',
      // align: 'high'
    },
    labels: {
      overflow: 'justify'
    }
  },
  tooltip: {
    valueSuffix: 'ha'
  },
  plotOptions: {
    column: {
      dataLabels: {
        enabled: true
      }
    }
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'Formal',
    data: [{% for values in anios.values %}
      {% for k,v in values.0.items %}
      {% if k == 'Hortaliza' %}
      {{v.0|default:'0'}},
      {% endif %}
      {% endfor %}
      {% endfor %}]
    }, {
      name: 'Informal',
      data: [{% for values in anios.values %}
        {% for k,v in values.0.items %}
        {% if k == 'Hortaliza' %}
        {{v.1|default:'0'}},
        {% endif %}
        {% endfor %}
        {% endfor %}]
      }],
    });

Highcharts.chart('grafico3', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: 0,
    plotShadow: false
  },
  title: {
    text: 'Café',
    align: 'center',
    verticalAlign: 'middle',
    y: 40
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      dataLabels: {
        enabled: true,
        distance: -50,
        style: {
          fontWeight: 'bold',
          color: 'white'
        }
      },
      startAngle: -90,
      endAngle: 90,
      center: ['50%', '75%']
    }
  },
  series: [{
    type: 'pie',
    name: 'Browser share',
    innerSize: '50%',
    data: [
      ['Firefox',   10.38],
      ['IE',       56.33],
      ['Chrome', 24.03],
      ['Safari',    4.77],
      ['Opera',     0.91],
      {
        name: 'Proprietary or Undetectable',
        y: 0.2,
        dataLabels: {
          enabled: false
        }
      }
    ]
  }]
});


Highcharts.chart('grafico4-1', {
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Volumen'
        }
    },
    // plotOptions: {
    //     line: {
    //         dataLabels: {
    //             enabled: true
    //         },
    //         enableMouseTracking: false
    //     }
    // },
    series: [

    {
        name: 'Mercado tradicional',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Mercado tradicional' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Cooperativa',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Cooperativa' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Ferias',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Ferias' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas procesadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas procesadoras' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas comercializadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas comercializadoras' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Supermercados',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Supermercados' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas exportadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas exportadoras' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Cadena de restaurantes',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Cadena de restaurantes' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Intermediarios',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Intermediarios' %}{{v.0|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

  ]
}),

Highcharts.chart('grafico4-2', {
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Volumen'
        }
    },
    // plotOptions: {
    //     line: {
    //         dataLabels: {
    //             enabled: true
    //         },
    //         enableMouseTracking: false
    //     }
    // },
    series: [

    {
        name: 'Mercado tradicional',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Mercado tradicional' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Cooperativa',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Cooperativa' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Ferias',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Ferias' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas procesadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas procesadoras' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas comercializadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas comercializadoras' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Supermercados',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Supermercados' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas exportadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas exportadoras' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Cadena de restaurantes',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Cadena de restaurantes' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Intermediarios',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Intermediarios' %}{{v.1|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

  ]
}),

Highcharts.chart('grafico4-3', {
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Volumen'
        }
    },
    // plotOptions: {
    //     line: {
    //         dataLabels: {
    //             enabled: true
    //         },
    //         enableMouseTracking: false
    //     }
    // },
    series: [

    {
        name: 'Mercado tradicional',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Mercado tradicional' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Cooperativa',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Cooperativa' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Ferias',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Ferias' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas procesadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas procesadoras' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas comercializadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas comercializadoras' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Supermercados',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Supermercados' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Empresas exportadoras',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Empresas exportadoras' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Cadena de restaurantes',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Cadena de restaurantes' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

    {
        name: 'Intermediarios',
        data: [{% for values in anios.values %}
                {% for k,v in values.1.items %}
                  {% if k == 'Intermediarios' %}{{v.2|default:'0'}},{% endif %}
                {% endfor %}
              {% endfor %}]
    },

  ]
});

{% for values in anios.values %}
Highcharts.chart('grafico5-{{forloop.counter}}', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [
            'Café',
            'Cacao',
            'Hortalizas'
        ]
    },
    yAxis: [{
        min: 0,
        title: {
            text: 'Quintales'
        }
    }, {
        title: {
            text: 'Hectáreas'
        },
        opposite: true
    }],
    legend: {
        shadow: false
    },
    tooltip: {
        shared: true
    },
    plotOptions: {
        column: {
            grouping: false,
            shadow: false,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Vol. de producción',
        color: 'rgba(165,170,217,1)',
        data: [{{values.2|floatformat:'2'|default:'0'}},{{values.6|floatformat:'2'|default:'0'}},
                {{values.10|floatformat:'2'|default:'0'}},],
        pointPadding: 0.3,
        pointPlacement: -0.2
    }, {
        name: 'Rendimientos',
        color: 'rgba(126,86,134,.9)',
        data: [{{values.3|floatformat:'2'|default:'0'}},{{values.7|floatformat:'2'|default:'0'}},
                {{values.11|floatformat:'2'|default:'0'}},],
        pointPadding: 0.4,
        pointPlacement: -0.2
    }, {
        name: 'Área cosechada',
        color: 'rgba(248,161,63,1)',
        data: [{{values.4|floatformat:'2'|default:'0'}},{{values.8|floatformat:'2'|default:'0'}},
                {{values.12|floatformat:'2'|default:'0'}},],
        tooltip: {
            valueSuffix: ' ha'
        },
        pointPadding: 0.3,
        pointPlacement: 0.2,
        yAxis: 1
    }, {
        name: 'Área sembrada',
        color: 'rgba(186,60,61,.9)',
        data: [{{values.5|floatformat:'2'|default:'0'}},{{values.9|floatformat:'2'|default:'0'}},
                {{values.13|floatformat:'2'|default:'0'}},],
        tooltip: {
            valueSuffix: ' ha'
        },
        pointPadding: 0.4,
        pointPlacement: 0.2,
        yAxis: 1
    }]
});

{% endfor %}

Highcharts.chart('grafico6-1.1', {
  title: {
    text: 'Ingresos'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Ingresos',
    data: [{% for k,v in anios.items %}{{v.14|default:'0'}},{% endfor %}],
    color: '#90ed7d'
  }]
});

Highcharts.chart('grafico6-1.2', {
  title: {
    text: 'Hectáreas'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'ha'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Hectáreas',
    data: [{% for k,v in anios.items %}{{v.15|default:'0'}},{% endfor %}],
    color: '#050f2c'
  }]
});

Highcharts.chart('grafico6-1.3', {
  title: {
    text: 'Precio Promedio'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Precio',
    data: [{% for k,v in anios.items %}{{v.16|default:'0'}},{% endfor %}],
    color: '#f7a35c'
  }]
});

Highcharts.chart('grafico6-2.1', {
  title: {
    text: 'Ingresos'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Ingresos',
    data: [{% for k,v in anios.items %}{{v.17|default:'0'}},{% endfor %}],
    color: '#90ed7d'
  }]
});

Highcharts.chart('grafico6-2.2', {
  title: {
    text: 'Hectáreas'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'ha'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Hectáreas',
    data: [{% for k,v in anios.items %}{{v.18|default:'0'}},{% endfor %}],
    color: '#050f2c'
  }]
});

Highcharts.chart('grafico6-2.3', {
  title: {
    text: 'Precio Promedio'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Precio',
    data: [{% for k,v in anios.items %}{{v.19|default:'0'}},{% endfor %}],
    color: '#f7a35c'
  }]
});

Highcharts.chart('grafico6-3.1', {
  title: {
    text: 'Ingresos'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Ingresos',
    data: [{% for k,v in anios.items %}{{v.20|default:'0'}},{% endfor %}],
    color: '#90ed7d'
  }]
});

Highcharts.chart('grafico6-3.2', {
  title: {
    text: 'Hectáreas'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'ha'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Hectáreas',
    data: [{% for k,v in anios.items %}{{v.21|default:'0'}},{% endfor %}],
    color: '#050f2c'
  }]
});

Highcharts.chart('grafico6-3.3', {
  title: {
    text: 'Precio Promedio'
  },
  subtitle: {
    text: ''
  },
  yAxis: {
    title: {
      text: 'Dolares'
    },
  },
  xAxis: {
    allowDecimals: false,
  },
  plotOptions: {
    series: {
      pointStart: {{anios.keys.0}}
    }
  },
  series: [{
    name: 'Precio',
    data: [{% for k,v in anios.items %}{{v.22|default:'0'}},{% endfor %}],
    color: '#f7a35c'
  }]
});

Highcharts.chart('grafico7', {
    chart: {
        type: 'line'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for key in anios.keys %}'{{key}}',{% endfor %}]
    },
    yAxis: {
        title: {
            text: 'Área cosechada'
        }
    },

    series: [

    {
        name: 'Café',
        data: [{% for values in anios.values %}
                  {{values.4|default:'0'}},
              {% endfor %}]
    },

    {
        name: 'Cacao',
        data: [{% for values in anios.values %}
                  {{values.8|default:'0'}},
              {% endfor %}]
    },

    {
        name: 'Hortalizas',
        data: [{% for values in anios.values %}
                  {{values.12|default:'0'}},
              {% endfor %}]
    },

  ]
})
</script>
{% endblock %}
