{% extends "base.html" %}

{% block content %}
<br><br><br><br><br>
<div class="page-content-wrapper ">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-12">
      <table  class="table">
        <tbody>
            <tr>
                <td><strong>Nombre proyecto:</strong> {{proyecto}}</td>
            </tr>
            <tr>
                <td><strong>Fecha de inicio:</strong> {{proyecto.fecha_inicio}}</td>
            </tr>
            <tr>
                <td><strong>Fecha de finalizacion:</strong> {{proyecto.fecha_finalizacion}}</td>
            </tr>
            <tr>
                <td><strong>Pais:</strong> {{proyecto.pais}}</td>
            </tr>
            <tr>
                <td><strong>Responsable:</strong> {{proyecto.responsable}}</td>
            </tr>
            <tr>
                <td><strong>Moneda:</strong> {{proyecto.moneda}}</td>
            </tr>
            <tr>
                <td><strong>Grupo:</strong> {{proyecto.grupo}}</td>
            </tr>
            <tr>
                <td><strong>Macro objetivo:</strong> {{proyecto.macro_objetivo}}</td>
            </tr>
        </tbody>
      </table>
  <h5>Intervenciones</h5>
  {% for obj in proyecto.intervenciones_set.all %}
        {{obj}}
        <h6>Resultado</h6>
        {% for resultado in obj.objetivosresultados_set.all %}
              <strong>{{resultado}}</strong> <br>
              <h6>Indicadores</h6>
                {% for indicador in resultado.indicadores_set.all %}
                    {{indicador}} <br>
                {% endfor %}
        {% endfor %}
  {% endfor %}
       <h6>Registro plan anual ({{proyecto}})</h6>

        <table  class="table"  width="100%">
          <tr>
            <th>Actividad</th>
            <th>Categoria</th>
            <th>Cod. Financiero</th>
            <th>Tipo de actividad</th>
            {% for obj in meses %}
              <th>{{obj.1}}</th>
            {% endfor %}
          </tr>
          {% for data in informe %}
          <tr>
            <td>{{data.nombre}}</td>
            <td>{{data.categoria}}</td>
            <td>{{data.codigo_financiero}}</td>
            <td>{{data.get_tipo_actividad_display}}</td>
            {% for obj in data.registromeses_set.all %}
              <td>{{obj.meta}} | {{obj.presupuesto}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>

      <h2>Informe mensual</h2>
      {% for obj in proyecto.informemensual_set.all %}
          <table  class="table"  width="100%">
          <tr>
            <th>Elaborado</th>
            <th>Fecha</th>
            <th>indicador</th>
            <th>Alcanze mensual</th>
            <th>Gasto mensual</th>
            <th>Momento del indicador</th>
            <th>Informacion caulitativa</th>
            <th>Archivo adjunto</th>
          </tr>
          <tr>
            <td>{{obj.elaborado}}</td>
            <td>{{obj.fecha}}</td>
            <td>{{obj.indicador}}</td>
            <td>{{obj.alcanzados_mes}}</td>
            <td>{{obj.gastos_mes}}</td>
            <td>{{obj.momento_indicador}}</td>
            <td>{{obj.informacion_cualitativa}}</td>
            <td><a href="/media/{{obj.subir_archivo}}">{% if obj.subir_archivo %}Descargar{%else%}No existe adjunto{% endif %}</a></td>
          </tr>
        </table>
      {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
