#producencomercializan_set-group input[type=number]{
  width: 100% !important
}

#producencomercializan_set-group input[type=text] {
  width: 100% !important
}

#aumentadoingresos_set-group input[type=number]{
  width: 100% !important
}

#aumentadoingresos_set-group input[type=text]{
  width: 100% !important
}

#aumentadoproductividad_set-group input[type=number]{
  width: 100% !important
}

#aumentadoproductividad_set-group input[type=text]{
  width: 100% !important
}