#producencomercializan_set-group input[type=number]{
  width: 100% !important
}

#producencomercializan_set-group input[type=text] {
  width: 100% !important
}

#aumentadoingresos_set-group input[type=number]{
  width: 100% !important
}

#aumentadoingresos_set-group input[type=text]{
  width: 100% !important
}

#aumentadoproductividad_set-group input[type=number]{
  width: 100% !important
}

#aumentadoproductividad_set-group input[type=text]{
  width: 100% !important
}

#gestioninterna_set-group input[type=number]{
  width: 100% !important
}

#gestioninterna_set-group input[type=text]{
  width: 100% !important
}

#operaciones_set-group input[type=number]{
  width: 100% !important
}

#operaciones_set-group input[type=text]{
  width: 100% !important
}

#sostenibilidad_set-group input[type=number]{
  width: 100% !important
}

#sostenibilidad_set-group input[type=text]{
  width: 100% !important
}

#gestionfinanciera_set-group input[type=number]{
  width: 100% !important
}

#gestionfinanciera_set-group input[type=text]{
  width: 100% !important
}

#desempenofinanciero_set-group input[type=number]{
  width: 100% !important
}

#desempenofinanciero_set-group input[type=text]{
  width: 100% !important
}

#suministros_set-group input[type=text]{
  width: 100% !important
}

#suministros_set-group input[type=number]{
  width: 100% !important
}

#mercados_set-group input[type=number]{
  width: 100% !important
}

#mercados_set-group input[type=text]{
  width: 100% !important
}

#riesgoexternos_set-group input[type=text]{
  width: 100% !important
}

#riesgoexternos_set-group input[type=number]{
  width: 100% !important
}

#facilitadores_set-group input[type=number]{
  width: 100% !important
}

#facilitadores_set-group input[type=text]{
  width: 100% !important
}

