{% extends "base.html" %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-body index-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div id="gmaps-markers" class="gmaps"></div>

                <ul class="leyenda">
                    <li>
                        <span> <img src="/static/nuevo/m2.png" height="52" width="53" alt=""></span>
                        Productores
                    </li>
                    <li>
                        <span> <img src="/static/nuevo/m1.png" height="52" width="53" alt=""></span>
                        Organizaciones
                    </li>

                </ul>

            </div>
            <div class="col-xs-12 col-sm412 col-md-5 col-lg-5">
                
                        <p>VECOMA  es un programa regional de Vredeseilanden en Mesoamérica y tiene presencia desde los años ochenta en nicaragua y desde el 2007 en Honduras. Desde los años 80, VECOMA ha estado apoyando proyectos de agricultura familiar en Nicaragua y a partir de 2007 en Honduras.</p>

                        <p>Desarrollamos sostenibilidad e inclusividad en los subsectores de cacao, cafe, hortalizas, para mejorar la calidad de vida de pequeños productores a través de una  producción resiliente, sostenible y un abastecimiento de alimentos sanos y de calidad a los mercados nacionales e internacionales.</p>

            </div>
        </div>
    </div>
</div>
<div class="row apps">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    
                    <div class="col-sm-12 descripcion">
                        <div class="titulo-icon">
                            <img class="center-block apps-img" src="/static/nuevo/Productores.png" alt="">
                            <h4>Productores </h4>
                        </div>
                        <div class="texto">
                            Cacao fino y cafés especiales posicionados en mercados nichos a través de Modelos de Negocios Inclusivos con perspectiva de género y jóvenes.
                        </div>
                    </div>
                </div>
                <div class="row btn-apps">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="/productores/dashboard/?pais=1" class="btn btn-primary waves-effect waves-light">Dashboard</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="/productores/" class="btn btn-primary waves-effect waves-light">Consulta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    
                    <div class="col-sm-12 descripcion">
                        <div class=" titulo-icon">
                            <img class="" src="/static/nuevo/Subsectores.png" alt="">
                            <h4>Subsectores  </h4>
                        </div>

                        <div class="texto">
                            Actores de hortaliza, cacao y café alinean sus politicas y estrategias hacia la sostenibilidad e inclusiva.
                        </div>
                    </div>
                </div>
                <div class="row btn-apps">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">Dashboard</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">Consulta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    
                    <div class="col-sm-12 descripcion">
                        <div class=" titulo-icon">
                            <img class="center-block apps-img" src="/static/nuevo/Organización.png" alt="">
                            <h4>Organización  </h4>
                        </div>
                        <div class="texto">
                            Pequeños productores incrementan el volumen, calidad e inocuidad de sus productores ofertados a los mercados incluisivos en los rubros de hortaliza, cacao y café.
                        </div>
                    </div>
                </div>
                <div class="row btn-apps">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="/organizaciones/dashboard/?pais=1" class="btn btn-primary waves-effect waves-light">Dashboard</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="/organizaciones/" class="btn btn-primary waves-effect waves-light">Consulta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    
                    <div class="col-sm-12 descripcion">
                        <div class=" titulo-icon">
                            <img class="center-block apps-img" src="/static/nuevo/report.png" alt="">
                            <h4>Reportes  </h4>
                        </div>
                        <div class="texto">
                            Reportes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ullam iure temporibus ut id suscipit rerum unde vel amet.
                        </div>
                    </div>
                </div>
                <div class="row btn-apps">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">Dashboard</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">Consulta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN8m5qDWE3cAMgBegvbkZQ7eHrG-Hu1oI&callback=initMap"
  type="text/javascript"></script>

<script type="text/javascript">
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('gmaps-markers'), {
    center: {lat: 13.6477817, lng: -85.543151},
    zoom: 6
  });
}
</script>
{% endblock %}
