{% extends "organizaciones/base-org-dash.html" %}

{% block content %}

<div class="content">
	<div class="">
		<div class="page-header-title">
			<h4 class="page-title">Dashboard Organizaciones</h4>
		</div>
	</div>

	<div class="page-content-wrapper ">
		<div class="container">

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-primary">
			            <div class="panel-body">
			              <h4 class="m-t-0">Miembros <span class="mdi mdi-help-circle"></span> </h4>

			              <div role="tabpanel tabs-grafico">
			                <!-- Nav tabs -->
			                <ul class="nav nav-tabs" role="tablist">
			                  <li role="presentation" class="active">
			                    <a href="#total" aria-controls="total" role="tab" data-toggle="tab">Total</a>
			                  </li>
			                  <li role="presentation">
			                    <a href="#activos" aria-controls="activos" role="tab" data-toggle="tab">Activos</a>
			                  </li>
			                  <li role="presentation">
			                    <a href="#jovenes" aria-controls="jovenes" role="tab" data-toggle="tab">Jóvenes</a>
			                  </li>
			                </ul>

			                <!-- Tab panes -->
			                <div class="tab-content">
			                  <div role="tabpanel" class="tab-pane active" id="total">
			                    <div class="col-sm-6 col-lg-6">
									<div class="panel text-center">
										<div class="panel-heading">
											<h4 class="panel-title text-muted font-light"><b>Hombres</b></h4>
										</div>
										<div class="panel-body p-t-10">
											<h2 class="m-t-0 m-b-15"><b>{{total_hombres|default:"0"}}</b></h2>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-6">
									<div class="panel text-center">
										<div class="panel-heading">
											<h4 class="panel-title text-muted font-light"><b>Mujeres</b></h4>
										</div>
										<div class="panel-body p-t-10">
											<h2 class="m-t-0 m-b-15"><b>{{total_mujeres|default:"0"}}</b></h2>
										</div>
									</div>
								</div>
			                  </div>
			                  <div role="tabpanel" class="tab-pane" id="activos">
			                    <div class="col-sm-6 col-lg-6">
									<div class="panel text-center">
										<div class="panel-heading">
											<h4 class="panel-title text-muted font-light"><b>Hombres</b></h4>
										</div>
										<div class="panel-body p-t-10">
											<h2 class="m-t-0 m-b-15"><b>{{activos_hombres|default:"0"}}</b></h2>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-6">
									<div class="panel text-center">
										<div class="panel-heading">
											<h4 class="panel-title text-muted font-light"><b>Mujeres</b></h4>
										</div>
										<div class="panel-body p-t-10">
											<h2 class="m-t-0 m-b-15"><b>{{activos_mujeres|default:"0"}}</b></h2>
										</div>
									</div>
								</div>
			                  </div>
			                  <div role="tabpanel" class="tab-pane" id="jovenes">
			                    <div class="col-sm-6 col-lg-6">
									<div class="panel text-center">
										<div class="panel-heading">
											<h4 class="panel-title text-muted font-light"><b>Hombres</b></h4>
										</div>
										<div class="panel-body p-t-10">
											<h2 class="m-t-0 m-b-15"><b>{{jovenes_hombres|default:"0"}}</b></h2>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-6">
									<div class="panel text-center">
										<div class="panel-heading">
											<h4 class="panel-title text-muted font-light"><b>Mujeres</b></h4>
										</div>
										<div class="panel-body p-t-10">
											<h2 class="m-t-0 m-b-15"><b>{{jovenes_mujeres|default:"0"}}</b></h2>
										</div>
									</div>
								</div>
			                  </div>
			                </div>
			              </div>
			            </div>
			          </div>					
				</div>
				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Empleados de la organización tiempo completo <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico1" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Organizaciones <span class="mdi mdi-help-circle"></span></h4>
							<ul>
								{% for org in orgs %}
									<li><a href="{% url 'detail-org' org.id %}">{{org}}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Situación legal y organizativa de la organización <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico2" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Área reciben apoyo <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico3" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Miembros (directivos de la OP+ indirectos vías Sucursal) <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico4" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Productores proveedores no socios <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico5" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
Highcharts.chart('grafico1', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Total', 'Adultos', 'Jovenes']
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Hombres',
        data: [{{empleados_org.values.3|default:"0"}}, {{empleados_org.values.0|default:"0"}}, {{empleados_org.values.4|default:"0"}}]
    }, {
        name: 'Mujeres',
        data: [{{empleados_org.values.2|default:"0"}}, {{empleados_org.values.5|default:"0"}}, {{empleados_org.values.1|default:"0"}}]
    }]
});

Highcharts.chart('grafico2', {
    chart: {
        type: 'column'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Cuenta con personería jurídica', 'Actualmente en operaciones', 'Recibe apoyo de donantes u otras instituciones']
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Organizaciones',
        data: [{{personeria|default:"0"}}, {{en_operaciones|default:"0"}}, {{apoyo|default:"0"}}]
    }]
});

Highcharts.chart('grafico3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in areas.keys %}'{{k}}',{% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Áreas',
        data: [{% for v in areas.values %}{{v}},{% endfor %}]
    }]
});

Highcharts.chart('grafico4', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Total H', 'Total M','Activos H', 'Activos M', 'Jovenes H', 'Jovenes M']
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    legend: {
        reversed: true
    },
    
    series: [
    {% for k,v in miembros.items %}
    	{
	        name: '{{k}}',
	        data: [{{v.0|default:"0"}}, {{v.1|default:"0"}}, {{v.2|default:"0"}}, {{v.3|default:"0"}}, {{v.4|default:"0"}},{{v.5|default:"0"}}]
    	},
    {% endfor %}]
});

Highcharts.chart('grafico5', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Número de miembros registrados oficialmente'
    },
    xAxis: {
        categories: ['Hombres', 'Mujeres']
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Total',
        data: [{{productores.0.0|default:"0"}}, {{productores.1|default:"0"}}]
    }, {
        name: 'Activos',
        data: [{{productores.2|default:"0"}}, {{productores.3|default:"0"}}]
    }, {
        name: 'Jovenes',
        data: [{{productores.4|default:"0"}}, {{productores.5|default:"0"}}]
    }]
});
</script>
{% endblock %}