{% extends "organizaciones/base-org-dash.html" %}

{% block content %}
<div class="content">
	<div class="">
		<div class="page-header-title">
			<h4 class="page-title">Detalle {{org.nombre}}</h4>
		</div>
	</div>

	<div class="page-content-wrapper ">
		<div class="container">
			<div class="row">
		        <div class="col-sm-4 col-lg-2">
		          <div class="panel text-center">
		            <div class="panel-heading">
		              <h4 class="panel-title text-muted font-light"><b>Cooperativas que son miembros</b></h4>
		            </div>
		            <div class="panel-body p-t-10">
		              <h2 class="m-t-0 m-b-15"><b>{{cooprativas.0}}</b></h2>
		              <p class="text-muted m-b-0 m-t-20"><b>Total</b></p>
		            </div>
		          </div>
		        </div>
		    </div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Área reciben apoyo <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico3" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Miembros (directivos de la OP+ indirectos vías Sucursal) <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico4" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Productores proveedores no socios <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico5" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Tipo de organizaciones a las que pertenece <span class="mdi mdi-help-circle"></span></h4>
							<ul>
								{% for org in org_pertenece %}
									<li>{{org}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<h4 class="m-t-0">Empleados de la organización <span class="mdi mdi-help-circle"></span></h4>
							<div id="grafico6" width:'100%' style="height: 350px;"></div>
						</div>
					</div>
				</div>
			</div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0">Evaluación SCOPE Pro consolidado por bloque <span class="mdi mdi-help-circle"></span></h4>
                            <div id="grafico7" width:'100%' style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0">Evaluación SCOPE Pro consolidado por bloque <span class="mdi mdi-help-circle"></span></h4>
                            <style type="text/css">
                                .tabla {
                                  height: 350px;
                                  overflow: auto;  
                                }
                            </style>
                            <div class="tabla">
                                {% include "organizaciones/tabla_scope.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0">Actividades <span class="mdi mdi-help-circle"></span></h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Actividades</th>
                                        <th>Socios</th>
                                        <th>No socios</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k,v in actividades.items %}
                                    <tr>
                                        <td>{{k}}</td>
                                        <td>{% if v.0.0 == 1 %}Si{% else %}No{% endif %}</td>
                                        <td>{% if v.1.0 == 1 %}Si{% else %}No{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="m-t-0">Servicios <span class="mdi mdi-help-circle"></span></h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Servicios</th>
                                        <th>Socios</th>
                                        <th>No socios</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k,v in servicios.items %}
                                    <tr>
                                        <td>{{k}}</td>
                                        <td>{% if v.0.0 == 1 %}Si{% else %}No{% endif %}</td>
                                        <td>{% if v.1.0 == 1 %}Si{% else %}No{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>
</div>
		
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
	Highcharts.chart('grafico3', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: [{% for k in areas.keys %}'{{k}}',{% endfor %}]
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Áreas',
        data: [{% for v in areas.values %}{{v}},{% endfor %}]
    }]
});

Highcharts.chart('grafico4', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Total H', 'Total M','Activos H', 'Activos M', 'Jovenes H', 'Jovenes M']
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    legend: {
        reversed: true
    },
    
    series: [
    {% for k,v in miembros.items %}
    	{
	        name: '{{k}}',
	        data: [{{v.0|default:"0"}}, {{v.1|default:"0"}}, {{v.2|default:"0"}}, {{v.3|default:"0"}}, {{v.4|default:"0"}},{{v.5|default:"0"}}]
    	},
    {% endfor %}]
});

Highcharts.chart('grafico5', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Número de miembros registrados oficialmente'
    },
    xAxis: {
        categories: ['Hombres', 'Mujeres']
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Total',
        data: [{{productores.0.0|default:"0"}}, {{productores.1|default:"0"}}]
    }, {
        name: 'Activos',
        data: [{{productores.2|default:"0"}}, {{productores.3|default:"0"}}]
    }, {
        name: 'Jovenes',
        data: [{{productores.4|default:"0"}}, {{productores.5|default:"0"}}]
    }]
});

Highcharts.chart('grafico6', {
    chart: {
        type: 'bar'
    },
    title: {
        text: ''
    },
    xAxis: {
        categories: ['Total H', 'Total M','Adultos H', 'Adultos M', 'Jovenes H', 'Jovenes M']
    },
    yAxis: {
        min: 0,
        title: {
            text: ''
        }
    },
    legend: {
        reversed: true
    },
    
    series: [
    {% for k,v in empleados.items %}
    	{
	        name: '{{k}}',
	        data: [{{v.0|default:"0"}}, {{v.1|default:"0"}}, {{v.2|default:"0"}}, {{v.3|default:"0"}}, {{v.4|default:"0"}},{{v.5|default:"0"}}]
    	},
    {% endfor %}]
});

        


Highcharts.chart('grafico7', {

    chart: {
        polar: true,
        type: 'line'
    },

    title: {
        text: '',
        x: -80
    },

    pane: {
        size: '80%'
    },

    xAxis: {
        categories: ['Gestión Interna', 'Operaciones', 'Sostenibilidad', 'Gestión Financiera',
                'Desempeño Financiero', 'Suministros', 'Mercados', 'Riesgos Externos', 'Facilitadores'],
        tickmarkPlacement: 'on',
        lineWidth: 0
    },

    yAxis: {
        gridLineInterpolation: 'polygon',
        lineWidth: 0,
        min: 0
    },

    tooltip: {
        shared: true,
        pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.1f}</b><br/>'
    },

    legend: {
        align: 'right',
        verticalAlign: 'top',
        y: 70,
        layout: 'vertical'
    },

    series: [
    {% for k,v in dic_anios.items %}
        {
            name: '{{k}}',
            data: [{% for x in v %}{{x.0|default:"0"}},{% endfor %}],
            pointPlacement: 'on'
        },
    {% endfor %}
    ]

});
</script>
{% endblock %}