{% extends "base.html" %}
{% block extra_css %}
	<link href="/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/css/mediabtn.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="col-md-10 col-md-offset-1">
	<div class="panel panel-primary panel-list">
        <div class="panel-body">
          	<h4 class="m-t-0">Lista de organizaciones</h4>
        	<div class="table-responsive">
	            <table id="example" class="table" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>País</th>
							<th>Tipo</th>
							<th>Rubro</tr>
						</tr>
					</thead>
					<!--<thead class="filtro">
			            <tr>
			                <th>Nombre</th>
							<th>País</th>
							<th>Tipo</th>
							<th>Rubro</tr>
			            </tr>
			        </thead>-->
					<tbody>
						{% for obj in todas %}
							<tr>
								<td><a href="/organizaciones/ver/organizacion/{{obj.id}}">{{obj.nombre}}</a></td>
								<td>{{obj.pais}}</td>
								<td>{{obj.tipo}}</td>
								<td>
									{% if obj.tipo_rubro == 1%}
										Café
									{% elif obj.tipo_rubro == 2 %}
										Cacao
									{% elif obj.tipo_rubro == 3%}
										Hortaliza
									{% else %}
										Ninguno
									{% endif %}
								</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
    	</div>
	</div>
			
</div>

{% endblock content%}
{% block extra_js %}
	<script src="/static/js/jquery.dataTables.js"></script>
  	<script src="/static/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    var table = $('#example').DataTable({
				"language": {
				                "sProcessing":     "Procesando...",
							    "sLengthMenu":     "Mostrar _MENU_ registros",
							    "sZeroRecords":    "No se encontraron resultados",
							    "sEmptyTable":     "Ningún dato disponible en esta tabla",
							    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
							    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
							    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
							    "sInfoPostFix":    "",
							    "sSearch":         "Buscar:",
							    "sUrl":            "",
							    "sInfoThousands":  ",",
							    "sLoadingRecords": "Cargando...",
							    "oPaginate": {
							        "sFirst":    "Primero",
							        "sLast":     "Último",
							        "sNext":     "Siguiente",
							        "sPrevious": "Anterior"
							    },
							    "oAria": {
							        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
							        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
							    }
				        }

		    });
		 
		    $("#example .filtro th").each( function ( i ) {
		        var select = $('<select class="form-control"><option value=""></option></select>')
		            .prependTo( $(this).empty() )
		            .on( 'change', function () {
		                var val = $(this).val();
		 
		                table.column( i )
		                    .search( val ? '^'+$(this).val()+'$' : val, true, false )
		                    .draw();
		            } );
		 
		        table.column( i ).data().unique().sort().each( function ( d, j ) {
		            select.append( '<option value="'+d+'">'+d+'</option>' )
		        } );
		    } );
		} );
	</script>


{% endblock %}